    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1><i class="fa fa-location-artr" style="color:#2EB9A6"></i>And the winner is...</h1>
            <h3>Well, both are great actually, so just compare them and choose!</h3>
            <br>
             <table width="50%">
      <tr>
        <td>
          <h2></h2>
          <table>
            <tr>
            <td>Bars: </td><td><%= @result.city1_bars %></td>
          </tr><tr>
            <td>Swimmingpools: </td><td><%= result.@city1_swimmingpools %></td>
                      </tr><tr>

            <td>Paintball: </td><td><%= result.@city1_paintball %></td>
                      </tr><tr>

            <td>Museums: </td><td><%= result.@city1_museums %></td>
                      </tr><tr>

            <td>McDonalds: </td><td><%= result.@city1_mcdonalds %></td>
            </tr>
          </table>
        </td>
                <td>
          <h2></h2>
          <table>
            <tr>
            <td>Bars: </td><td><%= result.@city2_bars %></td>
          </tr><tr>
            <td>Swimmingpools: </td><td><%= result.@city2_swimmingpools %></td>
                      </tr><tr>

            <td>Paintball: </td><td><%= result.@city2_paintball %></td>
                      </tr><tr>

            <td>Museums: </td><td><%= result.@city2_museums %></td>
                      </tr><tr>

            <td>McDonalds: </td><td><%= result.@city2_mcdonalds %></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
        </div>
    </header>

   