
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1><i class="fa fa-trophy" style="color:#2EB9A6"></i> And the winner is...</h1>
            <h3>Well, both are great actually, so just compare them and choose!</h3>
            <br>
             <table id="results" width="60%" cellpadding="10px" cellspacing="30px" align="center">
        <tr>
            <td>
                <h2 style="font-weight:bold"><%= @result.city1 %></h2>

                    <span class="labell"><%= @result.query1 %>: </span><span><%= @result.city1_bars %></span>
                <br>
                    <span class="labell"><%= @result.query2 %>: </span><span><%= @result.city1_swimmingpools %></span>
                                    <br>

                    <span class="labell"><%= @result.query3 %>: </span><span><%= @result.city1_paintball %></span>
                                    <br>


                    <span class="labell">McDonalds :) </span><span><%= @result.city1_mcdonalds %></span>

        </td>
        <td>
                <span style="font-size:40px; font-weight:bold">&nbsp;VS&nbsp;</span>
        </td>
                    <td>
                <h2 style="font-weight:bold"><%= @result.city2 %></h2>
                    <span class="labell"><%= @result.query1 %>: </span><span><%= @result.city2_bars %></span>
                <br>
                    <span class="labell"><%= @result.query2 %>: </span><span><%= @result.city2_swimmingpools %></span>
                                    <br>

                    <span class="labell"><%= @result.query3 %>: </span><span><%= @result.city2_paintball %></span>
                                    <br>


                    <span class="labell">McDonalds :) </span><span><%= @result.city2_mcdonalds %></span>
        </td>
        </tr>
    </table>
        </div>
    </header>
   